.navbar {
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

.conteiner-nav {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.btn-nav {
    display: none;
}

.btn-spacing {
    width: 100%;
}